This code extracts the tweets from a particular user's timeline

In [1]:
import tweepy
from tweepy import OAuthHandler
import pandas as pd

# Consumer/Access key/secret/token obtained from Twitter
# You should have created a Twitter app and gotten these keys.
# Do NOT share your key/secret/token with other students.
consumer_key    = ''
consumer_secret = ''
access_token    = ''
access_secret   = ''

# The following two lines create an authorization object with your above authentication info.
auth = OAuthHandler(consumer_key, consumer_secret)
auth.set_access_token(access_token, access_secret)

# This line finally calls Twitter's Rest API.
api = tweepy.API(auth)

In [8]:
# Main code that extracts and geocode tweets
df = pd.DataFrame(columns=['id','tweet','animal','location', 'lat', 'long'])
latlong = pd.read_excel("SingaporeLatLong2.xlsx")
screen_name = '@ctrlALF'

for status in tweepy.Cursor(api.user_timeline, screen_name=screen_name, tweet_mode="extended").items():
    tweet_id = status.id
    status_text = status.full_text
    animal = "Not detected/Others"
    location = None
    lat = None
    long = None
    
    if "dog" in status_text.lower():
        animal = "Dog"
    if "cat" in status_text.lower():
        animal = "Cat"
    
    if "LOST" in status_text:
        for index, row in latlong.iterrows():
            if row.location.lower() in status_text.lower():
                location = row.location
                lat = row.latitude
                long = row.longitude
                break
    
    df.loc[len(df)] = [tweet_id, status_text, animal, location, lat, long]
    
df

,id,tweet,animal,location,lat,long
0,1233906806109298688,p.s. These furbabies are best adopted by those...,Cat,None,NaN,NaN
1,1233905556051525632,ADOPT: These two FIV+ cats are looking for hom...,Cat,None,NaN,NaN
2,1233399631544930304,LOST: Northlanders! Has any of you seen this c...,Cat,Woodlands,1.436897,103.786216
3,1232354240598659072,LOST: Cat missing since 2 days ago. Last seen ...,Cat,Hougang,1.371904,103.892725
4,1231225206376501248,"LOST: Bishan residents, heads up! Lost cat las...",Cat,Bishan,1.351452,103.848250
...,...,...,...,...,...,...
180,438898795011510272,LOST: Missing cat called Baby. Last seen aroun...,Cat,Bukit Panjang,1.378629,103.762136
181,438139312144531456,"No problem, dear :) RT @stxticflora: @ALFina_S...",Not detected/Others,None,NaN,NaN
182,436489648299200514,"LOST: Tri-colour, female dog called Rina. Last...",Dog,Faber,1.271924,103.817175
183,436488810117861377,FOUND: 8-10 year old female Jack Russell terri...,Not detected/Others,None,NaN,NaN
184,436488137917726720,"LOST: Friendly, fat cat. Last seen around Euno...",Cat,None,NaN,NaN

In [9]:
# Check results for tweets with location
for index, row in df.iterrows():
    if row.location:
        print("Animal: " + row.animal)
        print("Location: " + row.location, row.lat, row.long)
        if row.animal == "Not detected/Others":
            print(row.tweet)
        print(" ")

Animal: Cat
Location: Woodlands 1.4368969999999999 103.78621600000001

Animal: Cat
Location: Hougang 1.3719043 103.892725

Animal: Cat
Location: Bishan 1.3514521000000002 103.84824959999999

Animal: Cat
Location: Bukit Panjang 1.378629 103.7621358

Animal: Not detected/Others
Location: Bukit Panjang 1.378629 103.7621358
LOST: Black, male Scottish Fold last seen at Blk 227 Pending Rd, Bukit Panjang. If spotted, do text the number below or dm via twitter id. Do spread the word! (ctt: @haylda)-31/1 https://t.co/mTKVsBKBbL

Animal: Cat
Location: Jurong West 1.3396365 103.7073387

Animal: Not detected/Others
Location: Yishun 1.4293839 103.8350282
LOST: Smokey, the persian, was last seen this morning at Yishun Blk 459. Afraid of people but will respond to her name. If found, please contact owner at 88177282 or via twitter. Northlanders, do your part &amp; RT! (ctt: @M4I1R4)-7/1 https://t.co/o8BuBvrMDX

Animal: Cat
Location: Taman Jurong 1.33488355 103.72078867428404

Animal: Cat
Location: Pasir Ris 1.3730307 103.94925500000001

Animal: Cat
Location: Woodlands 1.4368969999999999 103.78621600000001

Animal: Cat
Location: Bedok 1.3239765 103.930216

Animal: Cat
Location: Bedok 1.3239765 103.930216

Animal: Cat
Location: Woodlands 1.4368969999999999 103.78621600000001

Animal: Not detected/Others
Location: Tampines 1.3468926 103.94734087817068
LOST: 5yo British Shorthair by the name of Demo (or Gemok) last seen at Tampines Street 33. Spread the word east-siders! (ctt: @nadhmarican)-7/6 https://t.co/FetLQ89Jz8

Animal: Cat
Location: Pending Road 1.3758654 103.77098690000001

Animal: Cat
Location: Bukit Batok 1.3490572 103.74959059999999

Animal: Dog
Location: Clementi 1.3151003 103.7652311

Animal: Not detected/Others
Location: Choa Chu Kang 1.3847493 103.7445341
LOST: Yikes! Tiny kitten last seen at 812A Choa Chu Kang Ave 7! If found, pls contact owners. (ctt: @annashirahhh or @IRFAN19234788) -7/3 https://t.co/mroVvJTxCC

Animal: Cat
Location: Tampines 1.3468926 103.94734087817068

Animal: Cat
Location: Bedok 1.3239765 103.930216

Animal: Cat
Location: Choa Chu Kang 1.3847493 103.7445341

Animal: Not detected/Others
Location: Bishan 1.3514521000000002 103.84824959999999
LOST: S.O.S. Bishan homies! Kitten last seen on 5Oct near blocks 247-249. Kindly contact owner if found! -13/10 https://t.co/9Jiz4tYoPp

Animal: Cat
Location: Jurong East 1.333115 103.7422968

Animal: Cat
Location: Bukit Batok 1.3490572 103.74959059999999

Animal: Cat
Location: Woodlands 1.4368969999999999 103.78621600000001

Animal: Cat
Location: Bishan 1.3514521000000002 103.84824959999999

Animal: Not detected/Others
Location: Serangoon 1.3497629 103.873721
LOST: Parrot last seen at Serangoon North. Keep a lookout for this feathered friend! (ctt: @azruldasilva) -28/6 https://t.co/iIpaMmCguF

Animal: Cat
Location: Bishan 1.3514521000000002 103.84824959999999

Animal: Not detected/Others
Location: Bishan 1.3514521000000002 103.84824959999999
LOST: Oh no! Little baby bird is missing! Bishan homies, keep a lookout for it! -11/4 https://t.co/yzZfP6JUwY

Animal: Dog
Location: Jurong West 1.3396365 103.7073387

Animal: Cat
Location: Pasir Ris 1.3730307 103.94925500000001

Animal: Not detected/Others
Location: Woodlands 1.4368969999999999 103.78621600000001
LOST: This is Dare and he is missing. Woodlands residents, do keep a lookout and contact owner if you see him! (ctt: @xLoganGonzalezx)-22/2 https://t.co/RiHBU221ru

Animal: Cat
Location: Bishan 1.3514521000000002 103.84824959999999

Animal: Cat
Location: Admiralty 1.4406368999999999 103.80095920000001

Animal: Cat
Location: Boon Keng 1.31956905 103.86174867772831

Animal: Cat
Location: Balestier 1.3262260000000001 103.84731490000001

Animal: Dog
Location: Marymount 1.3486136 103.8392382

Animal: Cat
Location: Yew Tee 1.3974608 103.7474009

Animal: Not detected/Others
Location: Woodlands 1.4368969999999999 103.78621600000001
LOST: Lola was last seen at Woodlands Dr 75. Help reunite her &amp; her family this Raya! (ctt: @butterfingerxx) -7/7 https://t.co/s81cRPGHi3

Animal: Cat
Location: Bukit Panjang 1.378629 103.7621358

Animal: Not detected/Others
Location: Bukit Batok 1.3490572 103.74959059999999
LOST: Siga, a Tibetan Mastiff, is missing. Last seen at Bukit Batok Rd on the 30th Oct. (ctt: @unicornswags) -1/11 https://t.co/zM1YLBFO7t

Animal: Not detected/Others
Location: Jurong West 1.3396365 103.7073387
LOST: White persian w green eyes and blackish tail last seen at Blk 929 Jurong West St 92. (ctt: @SmilexIsmail) -23/8 http://t.co/HYClQusvL8

Animal: Cat
Location: Tampines 1.3468926 103.94734087817068

Animal: Not detected/Others
Location: Pasir Ris 1.3730307 103.94925500000001
LOST: Lumos, a British Longhair, was last seen at Pasir Ris St 51 Blk 566. RT! (ctt: @citynofazloon) -27/7 http://t.co/cgt8sy3kbE

Animal: Not detected/Others
Location: Tampines 1.3468926 103.94734087817068
LOST: Little PV was last seen at Tampines Street 11. (ctt: @haziqazm) http://t.co/Qmz1rDYSVV

Animal: Not detected/Others
Location: Pasir Ris 1.3730307 103.94925500000001
LOST: 7 month kitten last seen at Pasir Ris. Details in the photo! (ctt: @iamNAMMM) http://t.co/xBpaQasUfL

Animal: Cat
Location: Pasir Ris 1.3730307 103.94925500000001

Animal: Cat
Location: Bukit Panjang 1.378629 103.7621358

Animal: Dog
Location: Faber 1.2719239999999998 103.81717519393023

In [10]:
# Export results to xlsx
df.to_excel('{}\'s_tweets.xlsx'.format(screen_name))